h1 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;  
}

.minuklass{
    color: black;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
.pilt{
    border: 5px outset rgb(8, 40, 144);
}
#minuid{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

table tr td{
    border: 1px outset green;
}
